@charset "UTF-8";

#userInfoTable{
	border-collapse: collapse;
	padding: 3px 10px 3px 10px;
	margin: auto;
	width: 75%;
	height: 400px;
	font-weight: bold;
	font-size: 20px;
	background: white;
	border-radius: 5px;
}

.infoBtn{
	background-color: #3d3d3d;
	color: white;
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 5px;
	outline: none;
	font-size: 20px;
	font-weight: bold;
}